<h1>Events</h1>
<% @event.each_with_index do |e,index| %>
  <p><%= index + 1 %>&nbsp;&nbsp;<%= e.title %></p>
<% end %>

<%= link_to 'create an event',new_admin_event_path %>

<p><%= link_to 'back',admin_path %></p>
