body {
  &.with-login {
    padding-top: 97px;
    .navbar-fixed-top
    {
      padding-top: 35px;
    }
  }
  .alert_success {
    display: none;
    width: 96%;
    margin: 20px 2% 10px 2%;
    border-radius: 5px;
    border: 1px solid #79C20D;
    color: #32510F;
    padding: 6px 0;
    text-indent: 35px;
    font-size: 12px;
    background: #EDFCED;
  }
}
