<% if logged_in? %>
  <div id="login_bar">
    <div class="name">
      <div class ="logout"><%= link_to 'Logout', logout_path %></div>
      <div class="link"><%= link_to "Admin Panel â†", admin_path %></div>
      Admin Mode: <strong><%= current_user.name %></strong>.
        You are viewing the LIVE website.
    </div>
  </div>
<% end %>
