<style type="text/css">
#footer {
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  width: 96%;
  padding: 15px 2%;
  z-index: 9998;
  bottom: 0;
  position: fixed;
  color: #5A5956;
  margin-top: 20px;
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
}

</style>
<div id="footer">
  Event Management &copy; 2013
</div>