<style type="text/css">
#footer {
  width: 96%;
  padding: 10px 2%;
  color: #5A5956;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}

</style>
<div id="footer">
  Event Management &copy; 2013
</div>