<style type="text/css">
#footer {
  width: 100%;
  height: 25px;
  padding-top: 20px;
  margin-left: 40px;
  color: #5A5956;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}

</style>
<div id="footer">
  Event Management &copy; 2013
</div>