<footer>
  <div class="container clearfix">
    <ul class="list-social pull-right">
      <li><%= link_to "",'https://www.facebook.com/parth.bharadiya', target:"_blank", :class => "icon-1" %></li>
      <li><%= link_to "","https://twitter.com/PjBharadiya", target: "_blank", :class => "icon-3" %></li>
      <li><%= link_to "","https://plus.google.com/103631939310981313770/posts", target: "_blank", :class => "icon-4" %></li>
    </ul>
    <div class="privacy pull-left">Event Management &copy; 2013 </div>
  </div>
</footer>