<%= render 'tabs' %>

<h4>Groups</h4>
<% if @groups.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% @groups.each_with_index do |group,index| %>
          <th><%= group.title %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @groups.each_with_index do |group,index| %>
          <td>
            <% if group.teams.any? %>
              <ul>
                <% group.teams.each do |team| %>
                  <li><%= team.title %></li>
                <% end %>
              </ul>
            <% else %>
              No Teams selected!
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>No Group selected!</p>
<% end %>

<p><%= link_to 'back', events_path %></p>
