<%= render 'tabs' %>

<h4>Groups</h4>
<% if @groups.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% @groups.each_with_index do |group,index| %>
          <th><%= group.title %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @groups.each_with_index do |group,index| %>
          <td>
            <ul>
              <% if group.teams.any? %>
                <% group.teams.each do |team| %>
                  <li><%= team.title %></li>
                <% end %>
              <% else %>
                No Teams selected!
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% else %>
  No Group selected!
<% end %>

<p><%= link_to 'back', events_path %></p>
