<style type="text/css">
table {
  border:1px solid;
  border-collapse:collapse;
}
th {
  border:1px solid;
  padding: 5px;
  border-color: #000080;
}
td {
  border:1px solid;
  border-color: #000080;
  width: 136px;
}
</style>

<%= render 'tabs' %>

<h1>Groups</h1>
<% if @groups.any? %>
  <table>
    <tr>
      <% @groups.each_with_index do |group,index| %>
        <th><%= group.title %></th>
      <% end %>
    </tr>
    <tr>
      <% @groups.each_with_index do |group,index| %>
        <td>
          <ul>
            <% if group.teams.any? %>
              <% group.teams.each do |team| %>
                <li><%= team.title %></li>
              <% end %>
            <% else %>
              No Teams selected!
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
<% else %>
  No Group selected!
<% end %>

<p><%= link_to 'back', event_path(@event.id) %></p>
