<%= render 'tabs' %>

<h1>Rules</h1>

<% if @rules.any? %>
  <% @rules.each do |rule| %>
    <p>
      <%= raw rule.description %>
    </p>
  <% end %>
<% else %>
  <p>Why should all the games have rules!! Cheers!</p>
<% end %>

<p><%= link_to 'back', event_path(@event.id) %></p>
