// Place all the styles related to the admin::feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feedbacks {
  width: 986px;
  float: left;
  .right {
    form {
      margin: 0;
    }
    #search {
      margin-top: -4px ;
    }
  }
  .box p {
    padding: 12px;
  }
}
