<div class="row">
  <% if @events.any? %>
    <ul class="thumbnails thumbnails-1">
      <% @events.each do |event| %>
        <% if event.photos.any? %>
          <li>
              <%= link_to image_tag("folder_icon.png", :border => 0), event_photos_path(event.title) %></br>
              <%= link_to event.title, "#", :class => "link-1" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>Sorry! There is no photos uploaded!</p>
  <% end %>


  <p><%= link_to 'back', root_path %></p>
</div>