<ul class="thumbnails thumbnails-1 list-services">
  <% @events.each do |event| %>
    <li class="span2">
      <div class="thumbnail thumbnail-1">
        <%= link_to image_tag("folder_icon.png", :border => 0), event_photos_path(event.title) if event.photos.any? %>
          <%= link_to event.title, "#", :class => "link-1" %>
      </div>
    </li>
  <% end %>
</ul>