<div class="row">
<ul class="thumbnails thumbnails-1 list-services">
  <% @photos.each do |photo| %>
    <li class="span2">
      <div class="thumbnail thumbnail-1">
        <%= link_to(image_tag(photo.image.url(:thumb)),"#{photo.image.url(:full).split('?').first}", :data => {:lightbox => "photo-modal"}, :title => photo.title) %>
          <%= link_to photo.image_updated_at.strftime("%d-%b-%Y, %I:%M %p"), "#", :class => "link-1" %>
      </div>
    </li>
  <% end %>
</ul>
</div>
