/* global colors variables */
$somecolor: #00232A;
$alert_success: #32510F;
$lightblue: #81A2CE;
$skyblue: #349ADC;

$TheMe_COLOR: $skyblue; /* change only from above color and it will change the theme*/

/* Admin scss */
@import "admin/feedbacks";
@import "admin/admin_panel";
@import "admin/photos";

/* Front scss */
@import "bootstrap/bootstrap"; //for bootstrap web design
@import "bootstrap/bootstrap-responsive";
@import "home";  //home page photos scroll
@import "smoothDivScroll";  //for home page smooth div scroll
@import "kwicks-slider";  //for home page slider
@import "lightbox"; //for photos modal
@import "jquery-ui";  //for feedback form

@import "layouts/all";
@import "custom";
