/* Header */
#dialog-form {
  font-size: 62.5%;
  display: none;
}

.required:after {
  content: "*";
  color: red;
}

.validateTips {
  color: red;
}

#new_feedback {
  table {
    border: none !important;
  }
  td {
    border: none !important;
    padding: 2px;
    text-align: left;
  }
}

#feedback_feedback {
  max-width: 430px;
  max-height: 117px;
  min-height: 76px;
  min-width: 190px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* radio-button */
.radio-button {
  padding-bottom: 10px;
  label {
    display: inline;
    margin: 0 5px 0 3px;
  }
  input {
    margin: -4px 0 0;
  }
}

/* events_controller */
.tabs {
  li {
    list-style-type: none;
    float: left;
    padding: 5px;
  }
  margin: 0 0 0 -5px;
  background: #D3F1FF;
  height: 25px;
  width: 310px;
}