/* Header */
#dialog-form {
  font-size: 62.5%;
  display: none;
}

.required:after {
  content: "*";
  color: red;
}

.validateTips {
  color: red;
}

#new_feedback {
  table {
    border: none !important;
  }
  td {
    border: none !important;
    padding: 2px;
    text-align: left;
  }
}

#feedback_feedback {
  max-width: 430px;
  max-height: 117px;
  min-height: 76px;
  min-width: 190px;
}

@media (max-width: 767px) {
  .ui-dialog {
    max-width: 445px;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* radio-button */
.radio-button {
  padding-bottom: 10px;
  label {
    display: inline;
    margin: 0 5px 0 3px;
  }
  input {
    margin: -4px 0 0;
  }
}

/* events_controller */
.tabs {
  margin: 0;
  height: 5px;
  li {
    list-style-type: none;
    float: left;
    padding: 2px 5px;
    border: 1px solid $TheMe_COLOR;
  }
}

/* 404 Error */
.dialog {
  text-align: center;
  border: solid 1px red;
  h4 {
    color: red;
    font-size: 14px;
  }
}

/* tables */
.table {
  border: solid 1px;
  border-collapse: separate;
  a {
    &:hover {
      color: #707070;
    }
  }
  td {
    vertical-align: middle;
  }
}

.table.table-striped p {
    color: #707070;
}

/* sessions */
.reset-pw {
  margin: -9px 0 0 9px;
}
