// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* photos-scroll */
.photos {
  display: block;
  position:relative;
  margin-top: 5px;
  ul {
    display: block;
    width: 10000px;
    margin: 0;
    li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      width: 1200px;
      float: left;
      display: block;
      img {
        display: block;
        margin: 0;
        width: auto;
        height: auto;
      }
      span {
        color: #0b75b9;
        margin: 0 auto;
        padding: 0;
        width: 95%;
        display: block;
        margin-bottom: 5px;
      }
      p {
        color: #6b6262;
        margin: 0 auto;
        padding: 0;
        width: 95%;
        line-height: 18px;
      }
    }
  }
}

.photo-carousel-cointainer {
  overflow: hidden;
  position: relative;
  > * {
    position: relative;
  }
}

.scroll-left, .scroll-right {
  display: none;
  position: absolute;
  top: 47px;
  cursor: pointer;
  width: 21px;
  height: 205px;
  background: image-url("slider_arrows_sprite.png") 0 center no-repeat;
}

.scroll-left {
  left: 0;
  &:hover {
    background-position: -21px center;
  }
}

.scroll-right {
  left: 918px;
  background-position: -42px center;
  &:hover {
    background-position: -63px center;
  }
}

/* fixtures-results scrollbar*/
.results, .fixtures {
    font-family: Helvetica;
    font-size: 11px;
}

#fixtures, #results {
  padding: 4px;
  a {
    text-decoration: none;
  }
}
.active {
  background-color: #D9E3EB;
}
