// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* alert-success */
.alert_success {
    display: none;
    border: 1px solid #79C20D;
    color: $alert_success;
    padding: 6px 0;
    text-indent: 35px;
    font-size: 12px;
    background: #EDFCED;
  }

/* fixtures-results scrollbar*/
.results, .fixtures {
  font-family: Helvetica;
  font-size: 11px;
}

#fixtures, #results {
  padding: 4px;
  a {
    text-decoration: none;
  }
}
.active {
  background-color: $somecolor;
  a, a:hover, a:focus {
    color: #FFFFFF;
  }
}

/* Hero-image box-caption */
.box-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.41);
  border-radius: 4px 4px 4px 4px;
  left: 90px;
  position: absolute;
  top: 177px;
  z-index: 10;
  width: 22%;
  h3 {
    font-weight: lighter;
	margin: 0;
  }
  a {
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 14px;
    text-decoration: none;
  &:hover
   {
    color: $TheMe_COLOR;
   }
  }
}
 /* header drop-down */
 .submenu {
  display: none;
}
.menu:hover .submenu{
  display: block;
}
