@charset "utf-8";

/* SCSS Document */

/* FlexSlider Necessary Styles
*********************************/

.flex-container a, .flexslider a, .flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 8;
  position: relative;

}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
  margin: 5px 0;
  padding: 0;
  background: #000;
  .slides {
    > li {
      display: none;
      -webkit-backface-visibility: hidden;
    }
    img {
      max-width: 100%;
      display: block;
    }
  }
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
  display: block;
}

/* Clearfix for the .slides element */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
  display: block;
}

.flexslider, .flex-container {
  position: relative;
}

.flexslider {
  zoom: 1;
  .slides {
    zoom: 1;
    > li {
      position: relative;
    }
  }
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

.flex-container {
  zoom: 1;
  position: relative;
}

.flexslider {
  .slides {
    > li {
      width: 20%;
      overflow: hidden;
      position: relative;
      .flex-caption {
        font-family: 'Dorsa', sans-serif;
        color: #fff;
        font-size: 100px;
        line-height: 104px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -10px;
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &.active {
        .flex-caption {
          opacity: 0;
        }
        opacity: 1;
      }
      opacity: 0.6;
    }
    margin: 0;
    list-style: none outside none;
    img {
      display: block;
      max-width: 770px;
    }
  }
  .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

/* Caption style */

.flex-caption! {}

#responsiveFlag {
  display: block;
}

@media handheld, only screen and (min-width: 1300px) {
  .flexslider .slides > li, #responsiveFlag {
    display: block;
  }
}

@media only screen and (max-width: 1299px) {
  .flexslider .slides {
    > li {
      opacity: 1;
    }
    img {
      max-width: 100%;
      width: 100%;
    }
  }
  .flex-control-nav {
    display: none;
  }
  .flex-direction-nav {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    overflow: hidden;
    margin: -6% 0 0 0;
    opacity: 0.7;
    list-style: none outside none;
    li {
      float: left;
      width: 50%;
      height: 100%;
      text-align: right;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      &:first-child {
        text-align: left;
      }
    }
    a {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      text-indent: -1000px;
      overflow: hidden;
      width: 55px;
      height: 55px;
      vertical-align: middle;
      &:hover {
        text-decoration: none;
      }
      &.flex-next {
        text-align: right;
        background: image-url("next1.png") no-repeat 50% 50% #181818;
      }
      &.flex-prev {
        text-align: left;
        background: image-url("prev1.png") no-repeat 50% 50% #181818;
      }
      &:hover {
        background-color: #e85356;
      }
    }
  }
  #responsiveFlag {
    font-size: 0;
    line-height: 0;
    display: inline;
  }
}

@media only screen and (max-width: 420px) {
  .flex-direction-nav {
    margin-top: -20px;
    a {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 320px) {
  .flex-direction-nav {
    margin-top: -15px;
    a {
      width: 30px;
      height: 30px;
    }
  }
}