/* global colors variables */
$somecolor: #00232A;
$alert_success: #32510F;
$saffron: #F25C27;
$TheMe_COLOR: $saffron; /* change only from above color and it will change the theme*/

@import "application";
