/* global colors variables */
$somecolor: #00232A;
$alert_success: #32510F;
$lightblue: #81A2CE;
$TheMe_COLOR: $lightblue; /* change only from above color and it will change the theme*/

@import "application";
