/* global colors variables */
$somecolor: #00232A;
$alert_success: #32510F;
$lightsaffron: #BD634F;
$TheMe_COLOR: $lightsaffron; /* change only from above color and it will change the theme*/

@import "application";
